body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vh;
    color: white;
    background-color: #2c2c2c;
    width: 100%;
}
main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vh;

    position: absolute;
    padding: 2%;
    background-color: #2c2c2c;
    color: white;
    width: 92%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 5vh;
    text-align: center;
}
h3 {
    font-size: 2vh;
}
nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    display: flex;
}
ul {
    color: white;
    font-size: 2vh;
    text-align: left;
    align-items: center;
    margin:1vh;
    padding: 0;
    display: flex;
    justify-content: center;
    display: inline-block;
    align-items: center;
    text-align: center;
    justify-content: center;
}
nav ul a {
    text-decoration: none;
    color: white;
    list-style-type: none;
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

form {
    position: relative;
}

form input[type="text"],
form input[type="password"],
form textarea {
    width: 65%;
    height: 3.5vh;
    padding: 0.5vh;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 3vh;
    color:#000000;
    text-align: center;
    font-weight: bold;
}

button {
    background: linear-gradient(to bottom, #333333, #000000);
    color: #ffffff;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 1.5vh;
    cursor: pointer;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 20vh;
  }

.savebutton {
    background: linear-gradient(to bottom, #309900, #000000);
    color: #ffffff;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}
.deletebutton {
    background: linear-gradient(to bottom, #990000, #000000);
    color: #ffffff;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}
.newRosterButton {
    background: linear-gradient(to bottom, #000f99, #000000);
    color: #ffffff;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}
.choosers {
    margin-top: 3vh;
    width: 50%;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    display: flex;
    min-height: 3vh;
    position: relative; 
  }

.rosterSelect {
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.nameDisplay {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 7vh;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    text-shadow: 0 0 10px rgba(162, 0, 255, 0.5), 0 0 20px rgba(162, 0, 255, 0.5), 0 0 30px rgba(162, 0, 255, 0.5), 0 0 40px rgba(162, 0, 255, 0.5), 0 0 50px rgba(162, 0, 255, 0.5), 0 0 60px rgba(162, 0, 255, 0.5), 0 0 70px rgba(162, 0, 255, 0.5);
    background-clip: text;
    margin-top: 3vh;
    overflow-y: auto; 
  }